.apexcharts-legend-text{font-size:16px!important;font-weight:600!important}.apexcharts-bar-area rect[data-v-4be18d04]{transition:all .3s ease}.apexcharts-bar-area rect[data-v-4be18d04]:hover{opacity:.8}
